
.wise-icon-copy:before { content: '\e800'; } /* '' */
.wise-icon-stream:before { content: '\e801'; } /* '' */
.wise-icon-username:before { content: '\e802'; } /* '' */
.wise-icon-sshkey:before { content: '\e803'; } /* '' */
.wise-icon-public:before { content: '\e804'; } /* '' */
.wise-icon-sys-team:before { content: '\e805'; } /* '' */
.wise-icon-save:before { content: '\e806'; } /* '' */
.wise-icon-deploy:before { content: '\e807'; } /* '' */
.wise-icon-testbuild:before { content: '\e808'; } /* '' */
.wise-icon-imagebuild:before { content: '\e809'; } /* '' */
.wise-icon-sys-image:before { content: '\e80a'; } /* '' */
.wise-icon-time:before { content: '\e80b'; } /* '' */
.wise-icon-sys-setting:before { content: '\e80c'; } /* '' */
.wise-icon-delete:before { content: '\e80d'; } /* '' */
.wise-icon-release:before { content: '\e80e'; } /* '' */
.wise-icon-size:before { content: '\e80f'; } /* '' */
.wise-icon-sys-project:before { content: '\e810'; } /* '' */
.wise-icon-sys-ldap:before { content: '\e811'; } /* '' */
.wise-icon-sys-build-image:before { content: '\e812'; } /* '' */
.wise-icon-sys-role:before { content: '\e813'; } /* '' */
.wise-icon-sys-operating--evn:before { content: '\e814'; } /* '' */
.wise-icon-business-service-cron-job:before { content: '\e815'; } /* '' */
.wise-icon-business-service-job:before { content: '\e816'; } /* '' */
.wise-icon-ingress-service:before { content: '\e817'; } /* '' */
.wise-icon-lb-service:before { content: '\e81d'; } /* '' */
.wise-icon-business-service-without-status:before { content: '\e81e'; } /* '' */
.wise-icon-business-service-with-status:before { content: '\e81f'; } /* '' */
.wise-icon-github:before { content: '\e820'; } /* '' */
.wise-icon-docker-one:before { content: '\e821'; } /* '' */
.wise-icon-external-service:before { content: '\e822'; } /* '' */
.wise-icon-docker-two:before { content: '\e823'; } /* '' */
.wise-icon-svn:before { content: '\e824'; } /* '' */
.wise-icon-test:before { content: '\e832'; } /* '' */
.wise-icon-code-check:before { content: '\e833'; } /* '' */
.wise-icon-docker-three:before { content: '\e837'; } /* '' */
.wise-icon-dockerfile:before { content: '\e839'; } /* '' */
.wise-icon-kubernets:before { content: '\e848'; } /* '' */
.wise-icon-rancher:before { content: '\e849'; } /* '' */
.wise-icon-bp-cronjob:before { content: '\e84c'; } /* '' */
.wise-icon-bp-service:before { content: '\e84d'; } /* '' */
.wise-icon-bp-batch:before { content: '\e84e'; } /* '' */