@import "variables";

//style for big screen
@media (min-width: 1440px) {
  .container {
    width: 1380px !important;
    .app-item {
      height: 240px;
      i.app-icon {
        margin-top: 70px;
      }
    }
    .add-item {
      line-height: 230px;
    }
  }

}

//这里放置全局通用样式
body {
  color: $main-font-color;
  background: $body-background-color;
  font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-size: 12px;
  .container {
    margin-top: 50px;
  }
}
