@import "variables";

//style for big screen
@media (min-width: 1440px) {
  .container {
    width: 1344px;
    .app-item {
      height: 240px;
      i.app-icon {
        margin-top: 70px;
      }
    }
    .add-item {
      line-height: 230px;
    }
  }

}

//这里放置全局通用样式
body {
  color: $main-font-color;
  background: $body-background-color;
  font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-size: 12px;
}
//tooltip
.help.hint--left:before {
  border-left-color: rgba(40,51,57, 0.95);
}
.help.hint--right:before {
  border-right-color: rgba(40,51,57, 0.95);
}
.help.hint--bottom:before {
  border-bottom-color: rgba(40,51,57, 0.95);
}
.help.hint--top:before {
  border-top-color: rgba(40,51,57, 0.95);
}
.help:after {
  background: rgba(40,51,57, 0.95) !important;
  border-radius: 4px;
  padding: 10 15px !important;
}
.container {
  height: 100%;
}


a {
  text-decoration: none;
  &:focus {
    outline: none !important;
  }
}

.create-btn-wrapper {
  top: 7px;
  cursor: pointer;
  .create-button {
    width: 18px;
    height: 18px;
    color: $white-color;
    background: $blue-color;
    padding: 3px 4px;
    border-radius: 50%;
  }
}
.common-container {
  border: 1px solid $border-color;
  background: $white-color;
  padding: 0;
  margin: 0 auto 20px;
  border-radius: 5px;
}

.error-field-tip {
    color: $critical-color;
    font-size: 9px;
    float: right;
    vertical-align: bottom;
    margin-top: 5px;
}
// 通用的老的表单样式  这个样式效果参考 应用堆栈->添加服务 page
.group-container {
  border: 1px solid $border-color;
  background-color: $white-color;
  padding-top: 10px;
  padding-bottom: 10px;
  .form-group {
    .help {
      line-height: 34px;
      cursor: help;
    }
    .half {
      display: inline-block;
      width: 49%;
    }
  }
  .group-title {
    font-weight: bold;
    font-size: 15px;
    margin: 0 20px;
    border-bottom: 1px dotted $border-color;
    padding: 8px 0 8px 0;
  //老的PipelineForm启用禁用使用的样式,后续会删掉---->>>>
    .switch-btn {
      float: right;
      margin-top: -7px;
      font-weight: normal;
      font-size: 13px;
      width: 95px;
      text-align: right;
      > span {
        vertical-align: middle;
        line-height: 32px;
      }
    }
  }
  .group-content {
    padding-top: 15px;
  }
}

body > #wrapper {
  //position: absolute;
  // padding-top: 70px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  min-width: 290px;
  overflow: hidden;
}

label.required {
  &:after {
    content: ' *';
    color: $red-color;
  }
}

.biu-instance {
  z-index: 9999 !important;
}

//共用titlestyle
.default-title-container {
  border: 1px solid $border-color;
  padding: 15px;
  border-radius: 4px;
  background-color: $white-color;
}

//全局table样式
.common-table-style {
  border: 1px solid $table-boarder-color;
  thead {
    tr > th {
      padding: 15px 10px;
      border-bottom: 1px solid $border-color;
    }
  }
  tbody {
    background: #fff;
    // border: 1px solid #e4e7ed;
  }
  tbody > tr:last-child td {
    border-bottom: 1px dotted darken($table-boarder-color, 10%);
  }
  tbody > tr > td {
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid $table-boarder-color;
    vertical-align: middle;
    padding: 8px 10px;
  }
  &.control-table {
    thead > tr > th, tbody > tr > td {
      max-width: 200px !important;
      display: table-cell;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    tbody > tr > td.control-td {
      overflow: visible;
    }
  }
}
.clear.common-table-style {
  border-left: 0;
  border-right: 0;
}
.over-note-table {
  tbody > tr > td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: table-cell;
    max-width: 250px;
  }
}
.full-empty {
  border: 1px solid $table-boarder-color;
  background: $white-color;
  border-radius: 4px;
}
.clear-table-border {
  border: none;
}
//checkbox
.checkbox .c-checkbox {
  position: relative;
  padding-right: 20px;
  input[type="checkbox"] {
    opacity: 0;
    z-index: -1;
  }
  input[type="checkbox"] + span{
    display: inline-block;
    padding: 1px;
    border-radius: 2px;
    position: absolute;
    border: 1px solid $border-color-s;
    &:before{
      opacity: 0;
      color:$blue-color;
    }
  }
  input[type="checkbox"]:checked + span:before {
    opacity: 1
  }
}


.modal-open {
  .modal-backdrop {
    position: fixed;
    z-index: 500;
    height: 100%;
    width: 100%;
  }
  .navbar-fixed-top {
    z-index: 499;
  }
  .modal {
    z-index: 700;
    top: 50px;
  }
  .el-select-dropdown {
    min-width: 574px;
  }
}

.el-select {
  width: 100%;
  .el-input input {
    color: #555;
    font-size: 12px;
    height: 32px;
    border: 1px solid $border-color-s;
  }
  &.search-el .el-input input {
    border: 1px solid $border-color;
  }
  .el-select__tags .el-tag  {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}
body .el-select-dropdown {
  border: 1px solid $border-color !important;
  .el-select-dropdown__item {
    height: 32px;
  }
}
//element switch 开关
.el-switch {
  .el-switch__core {
    width: 70px
  }
  span {
    line-height: 15.5px;
    font-size: 12px;
  }
}
.el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner,
.el-radio .el-radio__input.is-checked .el-radio__inner {
  background-color: $blue-color;
  border-color: $blue-color;
}
//element 分页
.el-pagination {
  float: right;
  margin: 30px 20px 20px 0;
  .el-pager {
    li.active {
      background-color: $blue-color;
      border-color: $blue-color;
    }
  }
}
body .el-select-dropdown {
  border: 1px solid $border-color-s;
  .el-select-dropdown__item {
    font-size: 12px;
  }
  .el-select-dropdown__item.selected {
    background: $blue-color
  }
}
//element时间插件
.el-date-editor {
  .el-input__inner {
    height: 32px;
  }
}
.multiselect {
  min-height: 32px;
  .multiselect__select {
    height: 32px;
  }
  .multiselect__tags {
    min-height: 32px;
    // max-height: 32px;
    padding:3px 40px 0 8px;
    border: 1px solid $border-color-s;
    .multiselect__input {
      font-size: 12px;
      margin-bottom: 4px;
      padding: 3px 0 0 5px;
    }
    span.multiselect__tag {
      margin-bottom: 3px;
      background-color: rgba(32,159,255,.1);
      border: 1px solid rgba(32,159,255,.2);
      height: 24px;
      line-height: 24px;
      padding: 0 5px;
      color: $blue-color;
    }
    .multiselect__tag-icon {
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      position: relative;
      cursor: pointer;
      height: 18px;
      width: 18px;
      vertical-align: middle;
      top: -2px;
      &:after {
        font-size: 20px;
        font-weight: normal;
        color: $blue-color;
        position: relative;
        top: -2px;
        left: 0;
      }
      &:hover{
        background: $blue-color;
        &:after{
          color: $white-color;
        }
      }
    }
  }
  .multiselect__content {
    // top: 36px;
    padding: 5px 0;
    border: 1px solid $border-color-s;
    border-top: 0;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
    .multiselect__option {
      min-height: 32px;
      max-height: 32px;
      line-height: 9px;
      &--selected {
        background: $blue-color;
        color: $white-color;
        font-weight: normal;
        &:after {
          background: $blue-color;
          color: $white-color;
        }
      }
      &--highlight {
        background: $select-hover-color;
        color: $select-default-color;
        &:after {
          background: $select-hover-color;
          color: $select-default-color;
        }
      }
    }
    .multiselect__option.multiselect__option--highlight.multiselect__option--selected {
      background: $blue-color;
      color: $white-color;
      &:after {
        background: $blue-color;
        color: $white-color;
      }
    }
  }
}
//多选样式
.custome-mutiple-select .multiselect__content {
  .multiselect__option {
    &--selected {
      color: $blue-color;
      background: $white-color;
      &:after {
        max-height: 32px;
        line-height: 30px;
        position: absolute;
        right: 10px;
        font-family: element-icons;
        content: "\E608";
        font-size: 11px;
        -webkit-font-smoothing: antialiased;
        color: $blue-color;
        background: $white-color;
      }
    }
  }
  .multiselect__option.multiselect__option--highlight.multiselect__option--selected {
    color: $blue-color;
    background: $white-color;
    &:after {
      color: $blue-color;
      background: $white-color;
    }
    &:hover {
      background: $select-hover-color;
      &:after {
        background: $select-hover-color;
      }
    }
  }
}

.el-message-box__wrapper {
  .el-message-box {
    // height: 250px
  }
}

.clear-style-ul {
  list-style: none;
  li {
    float: left;
  }
}

//bootstrap 覆盖了element checkbox的样式
.el-checkbox__inner.is-checked {
  &:after,&:before {
    box-sizing: initial
  }
}
i.wise-icon:before {
  font-weight: bold;
  margin: 0;
}
//文字太长显示省略号
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.highcharts-container > svg > text{
  display: none;
}


.panel-heading {
  background-color: #FFF;
  padding: 10px 20px;
  position: relative;
  border: 1px solid $border-color;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  h3, h4 {
    margin-top: 10px;
  }
}

.panel-body {
  border: 1px solid $border-color;
}