@import "variables";

//style for big screen
@media (min-width: 1440px) {
  .container {
    width: 1380px !important;
    .app-item {
      height: 240px;
      i.app-icon {
        margin-top: 70px;
      }
    }
    .add-item {
      line-height: 230px;
    }
  }

}

//这里放置全局通用样式
body {
  color: $main-font-color;
  background: $body-background-color;
  font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-size: 12px;
  .container {
    margin-top: 50px;
  }
}
.clear-style {
  list-style: none;
  padding-left: 0;
}
//垂直、左右居中
.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.m0 {margin: 0}
.mb-lg {margin-bottom: 30px;}
.mt-sm {margin-top: 15px;}
.mt-lg {margin-top: 30px;}
.pt-sm {padding-top: 15px;}
.pb-sm {padding-bottom: 15px;}
.bg-white {background: #fff;}
